body{
    background-color: rgb(142, 165, 151);
}


#icosohedron{
    position: fixed;
    width: 200px;
    height: 200px;
    right: 500px;
}

#romb{
    position: fixed;
   
    width: 200px;
    height: 200px;
    right: 1300px;
}

#cube{
    position: fixed;
    width: 200px;
    height: 200px;
    left: -50px;
}


#pyramid{
    position: fixed;
    width: 200px;
    height: 200px;
    right: 900px;
}

